[Unit]
Description=Distrobox Automatic Update
Documentation=man:distrobox(1)
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox-upgrade --all
