[Unit]
Description=Flatpak first setup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=sh /usr/share/ublue-os/flatpak-first-setup.sh

[Install]
WantedBy=multi-user.target
